/* Build Pizza form styling */
#pizzaSizeContainer, #pizzaToppingsContainer {
  margin-bottom: 1em;
}
#transactionDetails {
  text-align: right;
}
/* Pizza Ordered Div */
#pizzaOrdered h2{
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}
#pizzaOrdered {
  display:none;
}